<h1>メモアプリ</h1>
<form action="/memos" method="post">
  <div>
    <input type="text" name="title" id="title" class="textbox" />
  </div>
  <div>
    <textarea name="description" id="description" class="textarea"></textarea>
  </div>

  <input type="submit" name="commit" value="保存" class="button" />
</form>

<a href="/memos">戻る</a>
