<h1>メモアプリ</h1>
<h2><%= @memo[:title] %></h2>
<p><%= @memo[:description] %></p>

<div class="actions">
  <a href="/memos/<%= @memo[:id] %>/edit" class="button">変更</a>
  <form action="/memos/<%= @memo[:id] %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="commit" value="削除" class="button">
  </form>
</div>

<a href="/memos">戻る</a>
